
/* /псевлокласс */
/* div {
    background-color: red;
}
div:hover {
    background-color: green;
}

a:visited {
    color: green;
}
h1:active {
    color: yellow;
}
li:first-child {
    background-color: aqua;
}
li:last-child {
    background-color: brown;
}

li:nth-child(3){
    background-color: blue;
}
псевдоэлемент
li::marker {
    color: red;
}
li:nth-child(1)::marker {
    color: blue;
}
 input:focus {
     background-color: aqua;
     transition: 0.8s;
     border: none;
     outline: none;
 }
 псевдоэлемент
 input::placeholder {
      text-align:center ; 
     padding: 10px;
 } */

 div:not(.div-2) {
     background-color: yellow;
 }
 /* псевдоэлемент */
 p::selection {
     background-color: red;
 }

 p::first-letter {
 font-size: 50px;   
 }
p::first-line {
    color: green;
}
/* псевдоэлемент */
p::before {
    content: "🎂🍰🍨контент до";
}
/* псевдоэлемент */
p::after {
    content: "🍕🍔🍟контент после";
}
div {
   color: blue;
}